*{
	margin: 0;
	padding: 0;
}
/* ====container====*/

@media screen and (max-width:800px) {
.container {
	padding: 0px;
	
}
}
.container {
	background-color: #F6F2F2;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 20px;
	border-radius: 40px;
}

/*===button====*/
.btn {
	margin-top: 20px;
	height: 40px;
	width: 130px;
	font-size: 16px;
	border: none;
	font-weight: 600;
	color: #fff;
	border-radius: 8px;
	background-color: #0B6655;
	background-image: linear-gradient(-180deg, #00D775, #00BD68);
	transition: all 0.4s ease;
}
.btn:hover {
	color: #fff;
	font-size: 15px;
	background-image: linear-gradient(#464d55, #25292e);
}
           /*---- butoon end -------*/
/*  ------------  page1 -------------------------------------------*/
/* ----------------- box1 -------------- */

.box1 { 
	height: 700px;
	background-image: url(PLAIN.jpg);
	background-repeat: repeat-x;
	background-position: center;
	background-size: contain;
}
.box1-box1{
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}
.titeleh1 h2 {
	font-size: 100px;
	color: #edc009;
	text-align: center;
	padding-top: 260px;
	font-family: 'Roboto', sans-serif;
}
.box1 p {
	font-size: 44px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-family: 'Noto Sans', sans-serif;
}
.box1 a {
	text-decoration: none;
	color: #fff;
}
/* ==== box1 end ===*/

h1 {
	font-size: 64px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

/*  ----------------------   page 2   -----------------------*/
/* box 2*/
.box2 {
    padding-top: 30px;
    padding-bottom: 50px;
}
.box2 h2 {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.data-set {
	margin-bottom: 50px;
	padding-left: 69px;
	padding-right: 69px;
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	justify-content: space-between;
}
.data-set a {
	color: black;
	text-decoration: none;
}
.data-set-column {
	background-color: #fff;
	width: 300px;
	border-radius: 30px;
	padding: 25px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	transition: all 0.1s ease;
	border: 1px solid transparent;
}
.data-set-column h3{
	font-size: 18px;
	margin-bottom: 10px;
}
.data-set-column i {
    font-size: 100px;
}
.data-set-column i {
	margin-bottom: 20px;
	display: flex;
	text-align: center;
	flex-direction: column;
}
/* hover efect for data colimn*/
.data-set-column:hover {
/*border: 1px solid #0B6655;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*  ----------------------------------- page 3 ----------------------------------------------*/
/*------------------------------ ==== what Goodwill Ambassadors do end ====== ------------------------*/
/*  === box3 ====  */
.box3 {
    padding-top: 30px;
    padding-bottom: 50px;
}
.box3 h2 {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-bottom: 30px;
}
.box3 h5 {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-bottom: 30px;
}
.data-set-2 {
	margin-bottom: 50px;
	padding-left: 205px;
	padding-right: 205px;
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	justify-content: space-evenly;
}
.data-set-2 a {
	text-decoration: none;
	color: #000;
}
.data-set-column-2 {
	background-color: #fff;
	width: 300px;
	border-radius: 30px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease;
	border: 1px solid transparent;
}
.data-set-column-2 h3{
	font-size: 18px;
	margin-bottom: 10px;
}
.data-set-column-2 i {
    font-size: 100px;
}
.data-set-column-2 i {
	margin-bottom: 20px;
	display: flex;
	text-align: center;
	flex-direction: column;
}
/* hover efect for data colimn*/
.data-set-column-2:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
 /*------------------------------ ==== what Goodwill Ambassadors do end ====== ------------------------*/


